#storyPreviewComponent{
    margin-top: 40px;
    // background-color: #e9e2de;
    #imageCurve{
        fill: #f3efed;
    }
    
    #storyText{
        margin-top: -5px;
        margin-bottom: 0;
        background-color: #f3efed;
        padding: 0 12vw 5px 12vw;

        p{
            text-align: justify;
        }
    }
    
    #imageCurve2{
        margin-top: -18px;
        background-color: #f3efed;
        fill: #FFFFFF;
    }
}